.sx-react-calendar-wrapper {
  max-width: 150vw;
  height: 800px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calendar-container {
  display: flex;
  justify-content: space-around;
}

.calendar-container > div {
  flex: 1;
  margin: 0 10px;
  width: 650px;
  .sx__calendar-wrapper.sx__is-calendar-small{
    width: 650px;
  }
}

.tag-creation {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.tag-creation select {
  margin-right: 10px;
  padding: 5px;
}

.tag-creation input {
  margin-right: 10px;
  padding: 5px;
}

.tag-creation button {
  padding: 5px 10px;
  background-color: #1a1a1a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag-creation button:hover {
  background-color: #646cff;
}
